<h1>Hero Battle!</h1>

<ul>
  <li><a href="/heroes/new"></a>Add a Hero!</li>
  <li><a href="/heroes"></a>View Roster</li>
  <li><a href="/squads/new">Add a Squad!</a></li>
  <li><a href="/squads">View Squads</a></li>
</ul>
