<h1>Create your squad!</h1>

<form action="/squads" method="post">
  <div class="form-group">
    <label for="squad">Enter your squad:</label>
    <input type="text" name="squad" id="squad" class="form-control">
  </div>
  <div class="form-group">
    <label for="squad-goal">Enter your #squadgoals:</label>
    <input type="text" name="squad-goal" id="squad-goal" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add squad</button>
</form>
